html, body
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

input, textarea
{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.container
{
    position: absolute;
    padding: 5px 0;
    left: 0;
    top: 60px;
    width: 100%;
    bottom: 20px;
    box-sizing: border-box;
}

.header
{
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #00ACC7;
    border-bottom: 1px solid #008cb7;
    color: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
    z-index: 10;
}

.header__title
{
    padding: 10px 0 13px 20px;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 30px;
    font-style: italic;
}

.set-prefs
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    background: rgba(255,255,255,0.3);
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: border-color 0.4s linear, opacity 0.4s linear;
}

.set-prefs:before,
.set-prefs:after
{
    left: 5px;
    top: 7px;
    position: absolute;
    border: 2px solid white;
    border-left: none;
    border-right: none;
    width: 26px;
    height: 5px;
    content: "";
}

.set-prefs:after
{
    margin-top: 14px;
}

.set-prefs_selected
{
    opacity: 0.9;
    border: 1px solid rgba(255,255,255,0.9);
}

.prefs
{
    margin: 5px 0;
    padding: 0 20px;
    display: none;
}

.prefs__cap
{
    clear: both;
    height: 1em;
}

.prefs__title
{
    font-size: 1.4em;
    color: #679;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-family: Georgia, serif;
    font-style: italic;
}

.prefs__clear
{
    height: 1em;
    border-bottom: 1px solid #eaeaea;
    clear: both;
    margin-top: 1em;
    margin-bottom: 1em;
}

.prefs__rule
{
    line-height: 30px;
    float: left;
}

.page_is-desktop .container
{
    margin: 0;
}

.page_is-desktop .input__text,
.page_is-desktop .result__text
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

.input
{
    height: 100%;
}

.input__clear
{
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    color: gray;
    
    display: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.page_is-mobile .input__label
{
    position: absolute;
    left: 1em;
    top: 0.9em;
}

.page_is-mobile .input__execute
{
    position: absolute;
    left: 1em;
    bottom: 0;
}

.page_is-mobile .input__text
{
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page_is-desktop .table
{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
}

.page_is-desktop .table__left,
.page_is-desktop .table__right
{
    position: relative;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.page_is-desktop .table__left
{
    float: left;
    padding-right: 10px;
}

.page_is-desktop .table__right
{
    padding-left: 10px;
    float: right;
    box-sizing: border-box;
}

.page_is-desktop .result__html
{
    margin-top: 0.5em;
    background: #f0f0f0;
    display: none;
    padding: 1em;
}

.page_is-desktop .nbsp
{
    background: green;
    opacity: 0.4;
}

.page_is-desktop .prefs__rule
{
    width: 40%;
    padding-right: 1em;
}

.page_is-mobile .prefs__rule
{
    line-height: 30px;
    float: left;
    width: 100%;
}

.prefs__default
{
    float: right;
    font-size: 12px;
}

.page_is-mobile .input__container
{
    position: absolute;
    box-sizing: border-box;
    left: 1em;
    top: 2.4em;
    height: auto;
    bottom: 2.4em;
    right: 1em;
}

.page_is-mobile .prefs__controls
{
    text-align: center;
}

.prefs__top
{
    border-bottom: 1px solid #eaeaea;
    padding: 0.4em 0 0.7em;
    margin-bottom: 0.7em;
}

.prefs__lang
{
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.current-lang
{
    position: absolute;
    right: 55px;
    top: 20px;
    width: 2em;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
