{
    "parserOptions": {
        "ecmaVersion": 5
    },
    "rules": {
        "semi": [2, "always"],
        "quotes": [2, "single"],
        "no-console": [0]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "Typograf": true,
        "HtmlEntities": true,
        "SafeTags": true
    },
    "extends": "eslint:recommended"
}
